


<div class="row">
  <div class="col-sm-6">
    <h1>Blogs</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_blog_path, class: 'btn btn-primary' do %>
    Add New Blog
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Body</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <%= content_tag :tr, id: dom_id(blog), class: dom_class(blog) do %>
          

                      <td><%= blog.title %></td>
                      <td><%= blog.body %></td>
          
          
            <td><%= link_to 'Show', blog %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
